body {
    font-family: Arial, sans-serif;
    background-image : url(https://image1ws.indotrading.com/s3/productimages/webp/co239549/p1277482/w600-h600/a744b623-38d6-4ccd-9d1c-3b4b43d4357d.jpg);

}

#daftar-produk, #keranjang {
    margin: 20px;
    padding: 10px;
    border: 1px solid hsl(0, 0%, 100%);
}

button {
    background-color: #847f97;
    color: rgb(241, 247, 244);
    padding: 10px;
    border: none;
    cursor: pointer;
}
