body {
    font-family: Arial, sans-serif;
    background-image : url(https://s.alicdn.com/@sc04/kf/H662127df11cd4081b36d4d3a245167ceu.jpg_720x720q50.jpg);

}

#daftar-produk, #keranjang{
    margin: 20px;
    padding: 10px;
    border: 1px solid hwb(0 100% 0%);
}

button {
    background-color: #847f97;
    color: rgb(241, 247, 244);
    padding: 10px;
    border: none;
    cursor: pointer;
}
